<configuration>
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %date{mm:ss.SSS} %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <!-- increases the default queue size -->
    <queueSize>512</queueSize>
    <!-- don't discard messages -->
    <discardingThreshold>0</discardingThreshold>
    <!-- block when queue is full -->
    <neverBlock>false</neverBlock>
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="application" level="INFO" />
  <logger name="org.biobank.services" level="INFO" />
  <logger name="org.biobank.domain" level="INFO" />
  <logger name="org.biobank.query" level="DEBUG" />

  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
  <logger name="io.netty" level="INFO" />
  <logger name="play" level="WARN" />
  <logger name="akka" level="WARN" />
  <logger name="com.zaxxer.hikari" level="WARN" />
  <logger name="net.sf.ehcache" level="WARN" />

  <!--logger name="slick.jdbc.JdbcBackend.statement"  level="DEBUG" /-->
  <!--logger name="slick.basic.BasicBackend.action"   level="DEBUG" /-->

  <root level="INFO">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>
