<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%-5coloredLevel | %d{mm:ss.SSS} | [%-30.30logger{30}] %message%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <!-- increases the default queue size -->
    <queueSize>512</queueSize>
    <!-- don't discard messages -->
    <discardingThreshold>0</discardingThreshold>
    <!-- block when queue is full -->
    <neverBlock>false</neverBlock>
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="com.zaxxer.hikari" level="WARN" />

  <!-- uncomment "org.biobank.controllers" when debugging tests -->

  <!--
      <logger name="org.biobank.controllers" level="DEBUG" />
      <logger name="play" level="INFO" />
      <logger name="net.sf.ehcache" level="INFO" />
      <logger name="io.netty" level="INFO" />
  -->

  <logger name="akka.event.slf4j" level="WARN" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <root level="INFO">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>
